* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
  }
  
  header {
   
    background-color: #001a50;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  
  header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }

.interview-container{
  display: flex;
  /* height: 100px; */
  margin-top: 5px;
  width: 1505px;
  background-color:#fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;

  padding: 10px;
}

.s-no{
  height:inherit;
  padding: 10px;

  width: 100px;
}

.interviewer-container{
  margin: 7px;
  border: ivory;
  border-width: 5px;
  border-radius: 7px;
  width: 300px;
}
.interviewee-container{

   margin-bottom: 7px;
  border: ivory;
  border-width: 5px;
  border-radius: 7px;
  /* box-shadow: 0 2px 5px #ccc; */
  width: 300px;
}

.interview-date{
  margin: 10px;
  padding: 10px;
  border: ivory;
  border-width: 5px;
  border-radius: 7px;
  /* box-shadow: 0 2px 5px #ccc; */
  width: 180px;
}
.interview-starttime{
  margin: 10px;
  padding: 10px;
  border: ivory;
  border-width: 5px;
  border-radius: 7px;
  width: 180px;
}
.interview-endtime{
  margin: 10px;
  padding: 10px;
  border: ivory;
  border-width: 5px;
  border-radius: 7px;
  width: 180px;
}
.interview-buttons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 200px;
}

.edit-button{
  margin-top: 10px;
  margin-left: 10px;
  background-color:white;
  color: #0d6efd;
  font-weight: bold;
  border-radius: 7px;
   height: 40px;
  padding: 5px;
 
  
}
.delete-button{
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  height: 40px;
  background-color:white;

  color:red;
  font-weight: bold;
  border-radius: 7px;
}

.error{
  margin-top: 10px;
  padding: auto;
  color: white;
  border-radius: 4px;
  background-color: red;
}

.create-button{

  margin-left: 90px;
}

.heading {

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;

  display: flex;

}
.heading h4{
  color: #001a50;

}

.heading-sno{
  margin-left: 20px;
  width: 100px;
}

.heading-interviewer{
  width:300px;
 
}
.heading-candidate{
  width:300px;
  
}
.heading-date{
  margin-left: 20px;
  width:180px;
  
}
.heading-start{
  width: 180px;
}

